aiohappyeyeballs
aiohttp
aiosignal
asttokens
attrs
Brotli
cachetools
certifi
cffi
charset-normalizer
comm
contourpy
cryptography
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
frozenlist
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
grpcio
grpcio-status
h2
hpack
hyperframe
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib==3.10.1
matplotlib-inline
multidict
munkres==1.1.4
nest_asyncio
numpy
packaging
parso
pexpect
pickleshare
pillow
platformdirs
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyasn1
pyasn1_modules
pycparser
Pygments
pyOpenSSL
pyparsing
PySide6==6.9.0
PySocks
python-dateutil
python-dotenv
pyu2f
pyzmq
requests
rsa
shiboken6==6.9.0
six
stack_data
tornado
traitlets
typing_extensions
urllib3
wcwidth
yarl
zipp
zstandard==0.23.0
